body {
  font-family: Arial;
  background: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 20px;
}

.input {
  display: flex;
  gap: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.error {
  color: red;
}
